.header {
    background-image: url(../img/header-bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header__container {
    transition: all 0.4s;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 60px;
    position: relative;
}
.header__checkbox {
    display: none;
}

.header__get-started-link {
    
}
.header__toggler {
    display: none;
}
.header__bottom {
    padding: 160px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__bottom-content {
    max-width: 460px;
    width: 100%;

}
.hero {

}
.hero__subheading {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1617DB;
    margin-bottom: 12px;
}
.hero__heading {
    font-weight: 700;
    font-size: 6.7em;
    line-height: 120%;
    margin-bottom: 25px;
}
.hero__desc {
    margin-bottom: 50px;
}
.hero__links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero__gallery-link {
    border: 1px solid rgba(22, 23, 219, 0.2);
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 24px;
    text-transform: uppercase;
    color: #6565EC;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    &::before {
        content: url(../img/hero-gallery-link-img.svg);
        display: block;
        width: 16px;
        height: 19px;

    }
}
.header__bottom-img-wrapper {
    max-width: 860px;
    width: 100%;
}
.header__bottom-img {
    width: 100%;
    object-fit: cover;
}
@include breakpoint-down(1000px) {
    .header__bottom-img {
        width: 600px;
    }
}
@include breakpoint-down(790px) {
    .hero {
        font-size: 7px;
    }
    .header__bottom {
        flex-direction: column-reverse;
        align-items: start;
        padding: 120px 0;
    }
    .header__bottom-img-wrapper {
        align-self: center;
    }
    .hero__gallery-link {
        padding: 10px 22px;
    }
}
@include breakpoint-down(550px) {
    .header__bottom {
        padding: 50px 0;
    }
    .hero__links {
        gap: 15px;
    }
    .hero__gallery-link {
        padding: 8px 15px;
    }
    .header__top {
        padding: 20px 0;
    }
    .header__toggler {
        display: block;
    }
    .header__get-started-link {
        display: none;
    }
    .header__checkbox:checked ~ .header__container {

        background-color: #fff;
        .header__top {
            .toggler {
                .toggler__top {
                    margin-bottom: 0px;
                    transform: rotate(45deg);
                }
                .toggler__center {
                    display: none;
                }
                .toggler__bottom {
                    margin-top: -2px;
                    transform: rotate(-45deg);
                }
            }
            .sitenav {
                display: block;
                background-color: #fff;
            }
        }
    }
}